<div class="wp-block light margin0">
    <div class="control-chart">
        <label *ngFor="let country of single; let i = index">
            <strong>{{country.name}} </strong> 
            <div>
                <input type="range" min="1" max="10000000" [value]="single[i].value" class="slider" (input)="onChangeSingle(i, $event)">
                <span class="badge badge-secondary" style.background="{{config.colorScheme.domain[i]}}">
                    {{single[i].value}}
                </span>
            </div>
        </label>
    </div>

    <div class="chart-wrapper mb-0">
        <h5>Vertical Bar Chart</h5>
        <div>
            <ngx-charts-bar-vertical
                [view]="config.view"
                [scheme]="config.colorScheme"
                [results]="single"
                [gradient]="config.gradient"
                [xAxis]="config.showXAxis"
                [yAxis]="config.showYAxis"
                [legend]="config.showLegend"
                [barPadding]="config.barPadding"
                [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel"
                [xAxisLabel]="config.xAxisLabel"
                [yAxisLabel]="config.yAxisLabel"
                [roundEdges]="config.roundEdges"
                (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="chart-wrapper mb-0">
        <h5>Horizontal Bar Chart</h5>
        <div>
            <ngx-charts-bar-horizontal
                [view]="config.view"
                [scheme]="config.colorScheme"
                [results]="single"
                [gradient]="config.gradient"
                [xAxis]="config.showXAxis"
                [yAxis]="config.showYAxis"
                [legend]="config.showLegend"
                [barPadding]="config.barPadding"
                [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel"
                [xAxisLabel]="config.xAxisLabel"
                [yAxisLabel]="config.yAxisLabel"
                [roundEdges]="config.roundEdges"
                (select)="onSelect($event)">
            </ngx-charts-bar-horizontal>
        </div>
    </div>
</div>

<div class="wp-block dark margin0">
    <div class="control-chart">
        <label *ngFor="let country of multi; let i = index">
            <strong>{{country.name}} </strong> 

            <div *ngFor="let series of multi[i].series; let i2 = index">
                <input type="range" min="1" max="10000000" [value]="multi[i].series[i2].value" class="slider" (input)="onChangeMulti(i, i2, $event)">
                <span class="badge badge-secondary" style.background="{{config.colorScheme.domain[i2]}}">
                    {{multi[i].series[i2].value}}
                </span>
            </div>
        </label>
    </div>

    <div class="chart-wrapper">
        <h5>Grouped Vertical Bar Chart</h5>
        <div>
            <ngx-charts-bar-vertical-2d
                [view]="config.view"
                [scheme]="config.colorScheme"
                [results]="multi"
                [gradient]="config.gradient"
                [xAxis]="config.showXAxis"
                [yAxis]="config.showYAxis"
                [legend]="config.showLegend"
                [barPadding]="config.barPadding"
                [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel"
                [xAxisLabel]="config.xAxisLabel"
                [yAxisLabel]="config.yAxisLabel"
                [roundEdges]="config.roundEdges"
                (select)="onSelect($event)">
            </ngx-charts-bar-vertical-2d>
        </div>
    </div>
    <div class="chart-wrapper">
        <h5>Grouped Horizontal Bar Chart</h5>
        <div>
            <ngx-charts-bar-horizontal-2d
                [view]="config.view"
                [scheme]="config.colorScheme"
                [results]="multi"
                [gradient]="config.gradient"
                [xAxis]="config.showXAxis"
                [yAxis]="config.showYAxis"
                [legend]="config.showLegend"
                [barPadding]="config.barPadding"
                [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel"
                [xAxisLabel]="config.xAxisLabel"
                [yAxisLabel]="config.yAxisLabel"
                [roundEdges]="config.roundEdges"
                (select)="onSelect($event)">
            </ngx-charts-bar-horizontal-2d>
        </div>
    </div>
    <div class="chart-wrapper">
        <h5>Stacked Vertical Bar Chart</h5>
        <div>
            <ngx-charts-bar-vertical-stacked
                [view]="config.view"
                [scheme]="config.colorScheme"
                [results]="multi"
                [gradient]="config.gradient"
                [xAxis]="config.showXAxis"
                [yAxis]="config.showYAxis"
                [legend]="config.showLegend"
                [barPadding]="config.barPadding"
                [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel"
                [xAxisLabel]="config.xAxisLabel"
                [yAxisLabel]="config.yAxisLabel"
                (select)="onSelect($event)">
            </ngx-charts-bar-vertical-stacked>
        </div>
    </div>
    <div class="chart-wrapper">
        <h5>Stacked Horizontal Bar Chart</h5>
        <div>
            <ngx-charts-bar-horizontal-stacked
                [view]="config.view"
                [scheme]="config.colorScheme"
                [results]="multi"
                [gradient]="config.gradient"
                [xAxis]="config.showXAxis"
                [yAxis]="config.showYAxis"
                [legend]="config.showLegend"
                [barPadding]="config.barPadding"
                [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel"
                [xAxisLabel]="config.xAxisLabel"
                [yAxisLabel]="config.yAxisLabel"
                (select)="onSelect($event)">
            </ngx-charts-bar-horizontal-stacked>
        </div>
    </div>
    <div class="chart-wrapper mb-0">
        <h5>Normalized Vertical Bar Chart</h5>
        <div>
            <ngx-charts-bar-vertical-normalized
                [view]="config.view"
                [scheme]="config.colorScheme"
                [results]="multi"
                [gradient]="config.gradient"
                [xAxis]="config.showXAxis"
                [yAxis]="config.showYAxis"
                [legend]="config.showLegend"
                [barPadding]="config.barPadding"
                [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel"
                [xAxisLabel]="config.xAxisLabel"
                [yAxisLabel]="config.yAxisLabel"
                (select)="onSelect($event)">
            </ngx-charts-bar-vertical-normalized>
        </div>
    </div>
    <div class="chart-wrapper mb-0">
        <h5>Normalized Horizontal Bar Chart</h5>
        <div>
            <ngx-charts-bar-horizontal-normalized
                [view]="config.view"
                [scheme]="config.colorScheme"
                [results]="multi"
                [gradient]="config.gradient"
                [xAxis]="config.showXAxis"
                [yAxis]="config.showYAxis"
                [legend]="config.showLegend"
                [barPadding]="config.barPadding"
                [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel"
                [xAxisLabel]="config.xAxisLabel"
                [yAxisLabel]="config.yAxisLabel"
                (select)="onSelect($event)">
            </ngx-charts-bar-horizontal-normalized>
        </div>
    </div>
</div>


