<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <!-- base url -->
  <base id="baseHref" href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <%= htmlWebpackPlugin.files.webpackManifest %>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  <!-- Async Google Analytics -->
  <!-- <script>
    // window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    // ga('create', 'UA-71073175-1', 'auto');
    // ga('send', 'pageview');
  </script> -->
  <!-- <script async src="https://www.google-analytics.com/analytics.js"></script> -->
  <!-- End Google Analytics -->

  <!-- CSS will be injected by webpack here -->
  <!-- Preload link tags will be injected by webpack here -->

  <style>
    .wp-loader { position: relative; min-height: 100vh;}
    .wp-loader:before{ position:absolute; width:50px; height:50px; border-top: 5px solid #f01e14; border-bottom: 5px solid #f01e14; border-left: 5px solid transparent; border-right: 5px solid transparent; border-radius:50px; content:" "; top:50%; left:50%; animation: loading_animation 1s infinite linear; margin-top:-50px; margin-left:-25px; }
    @keyframes loading_animation{ 0% {transform: rotate(0deg); opacity:0.5;} 50% {transform: rotate(180deg); opacity:1; } 100% {transform: rotate(360deg); opacity:0.5; } }
  </style>

</head>

<body class="worldpay">

  <app>
    <div class="wp-loader"></div>
  </app>

  <!-- Scripts will be injected by webpack here -->
</body>
</html>
